In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("Complete.csv")
data.head()

,State,District,District.1,Season,N,P,K,temperature,humidity,ph,rainfall,Crop
0,Andaman and Nicobar,Nicobars,Nicobars,Monsoon,90,42,43,20.879744,82.002744,6.502985,202.935536,Arecanut
1,Andaman and Nicobar,Nicobars,Nicobars,Monsoon,85,58,41,21.770462,80.319644,7.038096,226.655537,Other Kharif pulses
2,Andaman and Nicobar,Nicobars,Nicobars,Monsoon,60,55,44,23.004459,82.320763,7.840207,263.964248,Rice
3,Andaman and Nicobar,Nicobars,Nicobars,Whole Year,74,35,40,26.491096,80.158363,6.980401,242.864034,Banana
4,Andaman and Nicobar,Nicobars,Nicobars,Whole Year,78,42,42,20.130175,81.604873,7.628473,262.717340,Cashewnut

In [11]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [12]:
x

array([['Andaman and Nicobar', 'Nicobars', 'Nicobars', ..., 82.00274423,
        6.502985292, 202.9355362],
       ['Andaman and Nicobar', 'Nicobars', 'Nicobars', ..., 80.31964408,
        7.038096361, 226.6555374],
       ['Andaman and Nicobar', 'Nicobars', 'Nicobars', ..., 82.3207629,
        7.840207144, 263.9642476],
       ...,
       ['West Bengal', 'PURULIA', 'Purulia', ..., 62.04814951,
        6.861640036, 37.81123974],
       ['West Bengal', 'PURULIA', 'Purulia', ..., 68.10365387,
        6.978361689, 48.80253285],
       ['West Bengal', 'PURULIA', 'Purulia', ..., 69.29786244,
        7.043160241, 42.72374404]], dtype=object)

In [13]:
y

array(['Arecanut', 'Other Kharif pulses', 'Rice', ..., 'Sugarcane',
       'Rice', 'Sesamum'], dtype=object)

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,2,3])], remainder='passthrough')
X = np.array(ct.fit_transform(x))
print(X)

  (0, 0)	1.0
  (0, 446)	1.0
  (0, 1060)	1.0
  (0, 1269)	1.0
  (0, 1273)	90.0
  (0, 1274)	42.0
  (0, 1275)	43.0
  (0, 1276)	20.87974371
  (0, 1277)	82.00274423
  (0, 1278)	6.502985292
  (0, 1279)	202.9355362
  (1, 0)	1.0
  (1, 446)	1.0
  (1, 1060)	1.0
  (1, 1269)	1.0
  (1, 1273)	85.0
  (1, 1274)	58.0
  (1, 1275)	41.0
  (1, 1276)	21.77046169
  (1, 1277)	80.31964408
  (1, 1278)	7.038096361
  (1, 1279)	226.6555374
  (2, 0)	1.0
  (2, 446)	1.0
  (2, 1060)	1.0
  :	:
  (242978, 1277)	62.04814951
  (242978, 1278)	6.861640036
  (242978, 1279)	37.81123974
  (242979, 29)	1.0
  (242979, 471)	1.0
  (242979, 1100)	1.0
  (242979, 1272)	1.0
  (242979, 1273)	5.0
  (242979, 1274)	65.0
  (242979, 1275)	19.0
  (242979, 1276)	18.28072173
  (242979, 1277)	68.10365387
  (242979, 1278)	6.978361689
  (242979, 1279)	48.80253285
  (242980, 29)	1.0
  (242980, 471)	1.0
  (242980, 1100)	1.0
  (242980, 1272)	1.0
  (242980, 1273)	16.0
  (242980, 1274)	65.0
  (242980, 1275)	19.0
  (242980, 1276)	27.61204997
  (242980, 1277)	69.29786244
  (242980, 1278)	7.043160241
  (242980, 1279)	42.72374404

In [17]:
print(X)

  (0, 0)	1.0
  (0, 446)	1.0
  (0, 1060)	1.0
  (0, 1269)	1.0
  (0, 1273)	90.0
  (0, 1274)	42.0
  (0, 1275)	43.0
  (0, 1276)	20.87974371
  (0, 1277)	82.00274423
  (0, 1278)	6.502985292
  (0, 1279)	202.9355362
  (1, 0)	1.0
  (1, 446)	1.0
  (1, 1060)	1.0
  (1, 1269)	1.0
  (1, 1273)	85.0
  (1, 1274)	58.0
  (1, 1275)	41.0
  (1, 1276)	21.77046169
  (1, 1277)	80.31964408
  (1, 1278)	7.038096361
  (1, 1279)	226.6555374
  (2, 0)	1.0
  (2, 446)	1.0
  (2, 1060)	1.0
  :	:
  (242978, 1277)	62.04814951
  (242978, 1278)	6.861640036
  (242978, 1279)	37.81123974
  (242979, 29)	1.0
  (242979, 471)	1.0
  (242979, 1100)	1.0
  (242979, 1272)	1.0
  (242979, 1273)	5.0
  (242979, 1274)	65.0
  (242979, 1275)	19.0
  (242979, 1276)	18.28072173
  (242979, 1277)	68.10365387
  (242979, 1278)	6.978361689
  (242979, 1279)	48.80253285
  (242980, 29)	1.0
  (242980, 471)	1.0
  (242980, 1100)	1.0
  (242980, 1272)	1.0
  (242980, 1273)	16.0
  (242980, 1274)	65.0
  (242980, 1275)	19.0
  (242980, 1276)	27.61204997
  (242980, 1277)	69.29786244
  (242980, 1278)	7.043160241
  (242980, 1279)	42.72374404

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [19]:
y

array([  2,  73,  96, ..., 107,  96, 103])